name: Pipeline-Actions
on: [pull_request]
jobs:
  linter-and-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install poetry
        run: pipx install poetry

      - name: Install dependencies
        run: poetry install

      - name: Run Ruff Linter Task
        run: poetry run task format

      - name: Run Tests
        run: poetry run task test